/**
* https://github.com/tachyons-css/tachyons/
*/
@import "./tachyons.css";
/**
* Fira Sans
* by Carrois Apostrophe
* https://carrois.com/

* Fira Code
* by Multiple Designers
* https://github.com/tonsky/FiraCode 
*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans:300&display=swap');

:root {
  --color-link: var(--light-blue);
}

[class*="nested-"] {
  font-size: 1rem;
}

.nested-list ul {
  list-style-type: disc;
}

.nested-list ol {
  list-style-type: decimal;
}

.nested-list ul,
.nested-list ol {
  padding-left: var(--large);
}

@media screen and (min-width: 60em) {
  [class*="nested-"] {
    font-size: 1.25rem;
  }
  .nested-list ul,
  .nested-list ol {
    padding-left: 0;
  }
}

.nested-list li {
  margin-top: var(--small);
  line-height: 1.5;
}

.nested-table table {
  border: 1px solid var(--gray);
}

.nested-table table > tbody > tr:nth-child(odd) {
  background-color: var(--dark-gray);
}

.nested-table table td,
.nested-table table th {
  text-align: left;
  padding: var(--medium);
}

.nested-hr hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(175, 175, 175, 1), rgba(255, 255, 255, 0));
}

.nested-video video {
  margin-top: var(--medium);
  margin-bottom: var(--medium);
  max-width: 100%;
}

/*
 * Hopscotch
 * by Jan T. Sott
 * https://github.com/idleberg/Hopscotch
 *
 * This work is licensed under the Creative Commons CC0 1.0 Universal License
 */

code[class*="language-"],
pre[class*="language-"] {
  min-width: 100%;

	color: #ffffff;
	font-family: "Fira Code", Menlo, Monaco, "Lucida Console","Courier New", Courier, monospace;
	font-size: .85rem;
	line-height: 1.3;
	direction: ltr;
	text-align: left;
	word-spacing: normal;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
	background: #322931;
	color: #b9b5b8;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #797379;
}

.token.punctuation {
	color: #b9b5b8;
}

.namespace {
	opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
	color: #fd8b19;
}
.token.property {
	color: #fdcc59;
}
.token.tag {
	color: #1290bf;
}
.token.string {
	color: #149b93;
}
.token.selector {
	color: #c85e7c;
}
.token.attr-name {
	color: #fd8b19;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #149b93;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: #8fc13e;
}

.token.statement,
.token.regex,
.token.atrule {
	color: #149b93;
}

.token.placeholder,
.token.variable {
	color: #1290bf;
}

.token.important {
	color: #dd464c;
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid red;
	outline-offset: .4em;
}

.gatsby-highlight {
  overflow: auto;
  margin-left: -1rem;
  margin-right: -1rem;
}

.gatsby-highlight-code-line {
  margin-right: -0.85rem;
  margin-left: -1rem;
}

.gatsby-highlight pre[class*="language-"] {
  min-width: 100%;
  float: left;
}

.gatsby-highlight-code-line {
  background-color: var(--black-30);
  display: block;
  padding-right: 1rem;
  padding-left: 0.75rem;
  border-left: .25rem solid;
  border-left-color: var(--light-yellow);
}

@media screen and (min-width: 30em) {
  /* Code blocks */
  pre[class*="language-"] {
    font-size: 1rem;
    box-shadow: inset 2px 1px 4px 0px rgba(24, 24, 24, 0.9);
    border-radius: 0.3rem;
  }

  .gatsby-highlight {
    margin-left: 0;
    margin-right: 0;
  }

  .gatsby-highlight-code-line {
    margin-right: -1rem;
  }
}

/* transitions */
.color-cycle {
  transition: .5s ease-in color;
}
